@import "tailwindcss";
@import "tw-animate-css";
/* ---break---  */
@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors  */
  /* --color-*: initial; */

  --color-neutral-900: oklch(0.142 0.088 270.99);
  --color-neutral-800: oklch(0.281 0.0501 284.97);
  --color-neutral-700: oklch(0.3206 0.0496 285.52);
  --color-neutral-600: oklch(0.3701 0.0598 285.36);
  --color-neutral-300: oklch(0.7534 0.013 286.08);
  --color-neutral-200: oklch(0.8712 0.0067 293.92);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: oklch(0.7268 0.1871 51.03);

  --color-blue-500: oklch(0.5184 0.2021 271.58);
  --color-blue-700: oklch(0.3559 0.1911 276.51);

  /* Font Family */
  --font-*: initial;
  --font-body: var(--font-dm-sans);
  /* --font-heading: var(--font-bricolage-grotesque); */

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font Size */
  --text-fs-preset-1: 6rem;
  --text-fs-preset-2: 3.25rem;
  --text-fs-preset-3: 2rem;
  --text-fs-preset-4: 1.75rem;
  --text-fs-preset-5: 1.25rem;
  --text-fs-preset-6: 1.125rem;
  --text-fs-preset-7: 1rem;
  --text-fs-preset-8: 0.875rem;

  /* Line Height */
  --leading-large: 100%;
  --leading-small: 120%;

  /* Letter Spacing */
  --tracking-tight: -0.125rem;

  /* Spacing */
  --spacing-0: 0;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-125: 0.625rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1400: 7rem;
  --spacing-1600: 8rem;
  --spacing-1800: 8.75rem;

  /* Border Radius */
  --radius-rounded-0: 0;
  --radius-rounded-4: 0.25rem;
  --radius-rounded-6: 0.375rem;
  --radius-rounded-8: 0.5rem;
  --radius-rounded-10: 0.625rem;
  --radius-rounded-12: 0.75rem;
  --radius-rounded-16: 1rem;
  --radius-rounded-20: 1.25rem;
  --radius-rounded-24: 1.5rem;
  --radius-rounded-full: 100vw;

  /* Container */
  --container-medium: 45rem;
  --container-large: 76rem;
  --container-x-large: 96rem;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
/**/
/* @utility container { */
/*   @apply mx-auto max-w-[var(--container)] px-4 md:px-6; */
/* } */
/**/

@layer base {
  body {
    @apply font-body font-medium text-fs-preset-7 leading-small overflow-x-hidden;
  }
}

@layer utilities {
  .text-preset-1 {
    @apply text-fs-preset-1 font-semi-bold leading-large tracking-tight;
  }

  .text-preset-2 {
    @apply text-fs-preset-2 leading-small font-bold;
  }

  .text-preset-3 {
    @apply text-fs-preset-3 font-light;
  }

  .text-preset-4 {
    @apply text-fs-preset-4 leading-large font-bold;
  }

  .text-preset-5 {
    @apply text-fs-preset-5;
  }

  .text-preset-6 {
    @apply text-fs-preset-6;
  }

  .text-preset-7 {
    @apply text-fs-preset-7;
  }

  .text-preset-8 {
    @apply text-fs-preset-8;
  }
}

@layer components {
  .visualy-hidden {
    display: inline-block;
    position: absolute;

    height: 0.0625rem;
    width: 0.0625rem;

    border: 0;
    clip: rect(0 0 0 0);

    margin: -0.0625rem;
    padding: 0;

    overflow: hidden;
  }
}

/* ---break---  */

:root {

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.129 0.042 264.695);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.129 0.042 264.695);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.129 0.042 264.695);

  --primary: oklch(0.208 0.042 265.755);

  --primary-foreground: oklch(0.984 0.003 247.858);

  --secondary: oklch(0.968 0.007 247.896);

  --secondary-foreground: oklch(0.208 0.042 265.755);

  --muted: oklch(0.968 0.007 247.896);

  --muted-foreground: oklch(0.554 0.046 257.417);

  --accent: oklch(0.968 0.007 247.896);

  --accent-foreground: oklch(0.208 0.042 265.755);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.929 0.013 255.508);

  --input: oklch(0.929 0.013 255.508);

  --ring: oklch(0.704 0.04 256.788);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.984 0.003 247.858);

  --sidebar-foreground: oklch(0.129 0.042 264.695);

  --sidebar-primary: oklch(0.208 0.042 265.755);

  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);

  --sidebar-accent: oklch(0.968 0.007 247.896);

  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);

  --sidebar-border: oklch(0.929 0.013 255.508);

  --sidebar-ring: oklch(0.704 0.04 256.788);
}

/* ---break---  */

.dark {

  --background: oklch(0.129 0.042 264.695);

  --foreground: oklch(0.984 0.003 247.858);

  --card: oklch(0.208 0.042 265.755);

  --card-foreground: oklch(0.984 0.003 247.858);

  --popover: oklch(0.208 0.042 265.755);

  --popover-foreground: oklch(0.984 0.003 247.858);

  --primary: oklch(0.929 0.013 255.508);

  --primary-foreground: oklch(0.208 0.042 265.755);

  --secondary: oklch(0.279 0.041 260.031);

  --secondary-foreground: oklch(0.984 0.003 247.858);

  --muted: oklch(0.279 0.041 260.031);

  --muted-foreground: oklch(0.704 0.04 256.788);

  --accent: oklch(0.279 0.041 260.031);

  --accent-foreground: oklch(0.984 0.003 247.858);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.551 0.027 264.364);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.208 0.042 265.755);

  --sidebar-foreground: oklch(0.984 0.003 247.858);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);

  --sidebar-accent: oklch(0.279 0.041 260.031);

  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.551 0.027 264.364);
}

/* ---break---  */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
