@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Colors */
  --orange: oklch(0.7268 0.1871 51.03);
  --blue-500: oklch(0.5184 0.2021 271.58);
  --blue-700: oklch(0.3559 0.1911 276.51);

  /* Colors - Dark */
  --neutral-0: oklch(1 0 0);
  --neutral-200: oklch(0.8712 0.0067 293.92);
  --neutral-300: oklch(0.7534 0.013 286.08);
  --neutral-600: oklch(0.3701 0.0598 285.36);
  --neutral-700: oklch(0.3206 0.0496 285.52);
  --neutral-800: oklch(0.281 0.0501 284.97);
  --neutral-900: oklch(0.142 0.088 270.99);

  /* Colors - Light */
  --slate-0: oklch(1 0 0);
  --slate-50: oklch(0.9842 0.0034 247.86);
  --slate-200: oklch(0.9288 0.0126 255.51);
  --slate-300: oklch(0.8883 0.0162 253.91);
  --slate-400: oklch(0.869 0.0198 252.89);
  --slate-500: oklch(0.5544 0.0407 257.42);
  --slate-900: oklch(0.2077 0.0398 265.75);

  /* Shadcn Variables */
  --radius: 0.625rem;
  --background: var(--slate-50);
  --foreground: var(--slate-900);
  --card: var(--slate-200);
  --card-foreground: var(--slate-900);
  --popover: var(--slate-200);
  --popover-foreground: var(--slate-900);
  --primary: var(--blue-500);
  --primary-foreground: var(--slate-0);
  --secondary: var(--blue-700);
  --secondary-foreground: var(--slate-0);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: var(--slate-0);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--slate-400);
  --input: var(--slate-200);
  --ring: var(--slate-900);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

@theme inline {
  /* Colors  */
  --color-*: initial;
  --color-orange: var(--orange);
  --color-blue-500: var(--blue-500);
  --color-blue-700: var(--blue-700);

  --color-neutral-0: var(--neutral-0);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);

  --color-slate-0: var(--slate-0);
  --color-slate-50: var(--slate-50);
  --color-slate-200: var(--slate-200);
  --color-slate-300: var(--slate-300);
  --color-slate-400: var(--slate-400);
  --color-slate-500: var(--slate-500);
  --color-slate-900: var(--slate-900);

  /* Font Family */
  --font-*: initial;
  --font-body: var(--font-dm-sans);
  --font-heading: var(--font-bricolage-grotesque);

  /* Font Weight */
  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font Size */
  --text-*: initial;
  --text-fs-preset-1: 6rem;
  --text-fs-preset-2: 3.25rem;
  --text-fs-preset-3: 2rem;
  --text-fs-preset-4: 1.75rem;
  --text-fs-preset-5: 1.25rem;
  --text-fs-preset-6: 1.125rem;
  --text-fs-preset-7: 1rem;
  --text-fs-preset-8: 0.875rem;
  --text-fs-preset-9: 0.75rem;

  /* Line Height */
  --leading-large: 100%;
  --leading-small: 120%;

  /* Letter Spacing */
  --tracking-tight: -0.125rem;

  /* Spacing */
  --spacing-0: 0;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-125: 0.625rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1400: 7rem;
  --spacing-1600: 8rem;
  --spacing-1800: 8.75rem;

  /* Border Radius */
  --radius-*: initial;
  --radius-0: 0;
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-full: 100vw;

  /* Container */
  --container-medium: 45rem;
  --container-large: 76rem;
  --container-x-large: 96rem;

  /* Shadcn/ui Contents */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: var(--neutral-900);
  --foreground: var(--neutral-0);
  --card: var(--neutral-800);
  --card-foreground: var(--neutral-0);
  --popover: var(--neutral-800);
  --popover-foreground: var(--neutral-0);
  --primary: var(--blue-500);
  --primary-foreground: var(--neutral-0);
  --secondary: var(--blue-700);
  --secondary-foreground: var(--neutral-0);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: var(--neutral-200);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: var(--neutral-0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--neutral-600);
  --input: var(--neutral-800);
  --ring: var(--neutral-0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@utility container {
  @apply mx-auto max-w-[var(--container-x-large)] px-4 md:px-6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply w-full h-svh bg-background text-foreground font-body text-fs-preset-7 leading-small overflow-x-hidden;
  }
}

@layer utilities {
  .text-preset-1 {
    @apply text-fs-preset-1 font-semi-bold leading-large tracking-tight;
  }

  .text-preset-2 {
    @apply text-fs-preset-2 font-heading leading-small font-bold text-center;
  }

  .text-preset-3 {
    @apply text-fs-preset-3 font-light;
  }

  .text-preset-4 {
    @apply text-fs-preset-4 leading-large font-bold;
  }

  .text-preset-5 {
    @apply text-fs-preset-5;
  }

  .text-preset-6 {
    @apply text-fs-preset-6;
  }

  .text-preset-7 {
    @apply text-fs-preset-7;
  }

  .text-preset-8 {
    @apply text-fs-preset-8;
  }

  .text-preset-9 {
    @apply text-fs-preset-9;
  }
}

@layer components {
  .visualy-hidden {
    display: inline-block;
    position: absolute;

    height: 0.0625rem;
    width: 0.0625rem;

    border: 0;
    clip: rect(0 0 0 0);

    margin: -0.0625rem;
    padding: 0;

    overflow: hidden;
  }
}
